# A simple action usage
name: Build Kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/malkist01/G1
          kernel-dir: msm-4.14
          kernel-branch: main
          config: vendor/ginkgo_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          ksu: true
          ksu-version: legacy
          android-version: 13
          aosp-clang-version: r563880c
          disable-lto: true
          anykernel3: true
